a {
  color: black;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  //background: #f7f7f7;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big {
  font-size: 18pt;
}

.big16 {
  font-size: 16pt;
}

.big14 {
  font-size: 14pt;
}

.btn, .form-control {
  border-radius: 0px;
  //  border: solid 2px black;
  outline: none;
}

.btn-l {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.btn-r {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.border {
  //border-radius: 5px;
  //border: solid 2px black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.bg{
  background: #ffbb44;
}

.bg:disabled{
  background: rgb(255, 220, 153);
}

select {
  background: #ffffff;
}

select:focus,
input:focus,
button:focus {
  outline: none;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  border: solid 2px black;
  background-color: rgb(255, 255, 255);
}
