a {
  color: red;
}

:focus{
  outline: none;
}

.test{
  border-bottom: 5px solid black;
  //background: linear-gradient(0deg, white, transparent);
}

.item_menu{
  flex-grow: 1;
  text-align: center;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("assets/body_fon.jpg");
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.big {
  font-size: 18pt;
}

.big16 {
  font-size: 16pt;
}

.big14 {
  font-size: 14pt;
}

.btn, .form-control {
  border-radius: 0px;
  //  border: solid 2px black;
  outline: none;
}
.cursor {
  cursor: pointer;
}

.btn-l {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

.btn-r {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.border {
  //border-radius: 5px;
  //border: solid 2px black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
.border_round{
  border-radius: 30px;
  margin-top: 10px;
}

.bg_main {
  //background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
  color: black;
}
.sticky{
    position: sticky;
    top: -425px;
  z-index: 5;
}
.bg{
  background-color: #fdc332;
}
.logo{
  visibility: hidden;
  width: 0;
  height: 0;
}
.logo_img{
  margin: 25px;
}
.logovkyou{
  display: flex;
  justify-content: flex-end;
}
.fon_big{
  .logo{
    height: 425px;
    visibility: visible;
  }
  background-image: url("assets/fon.jpg");
  background-size: cover;
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}
.fon{
  //width: 100%;
  background-image: url("assets/fon.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.bg:disabled{
  background: rgb(255, 220, 153);
}

select {
  background: #ffffff;
}

select:focus,
input:focus,
button:focus {
  outline: none;
}

.popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
  border: solid 2px black;
  background-color: rgb(255, 255, 255);
}
.navbar-collapse{
  justify-content: space-around;
}
.news_lenta{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 520px;
  background-color: white
}

@media (max-width: 1023px) {
  .fon_big{
    .logo_img{
      height: 200px;
      width: 200px;
    }
  }
}

@media (max-width: 767px) {
  .fon_big{
    .logo_img{
      height: 100px;
      width: 100px;
    }
  }
  .news_lenta{
    width: auto;
  }
}
