<body>
<div *ngFor="let item of userEtap">
  <div class="row big">
    <div class="col-10">
      {{item.namegames}}
    </div>
    <div class="col-2">
      {{allSumma}}
    </div>
  </div>
  <div class="row" style="font-size: large">
    <div class="col-1">
      {{item.nomeruser}}
    </div>
    <div class="col-6">
      {{item.username}}
    </div>
    <div class="col-2">
      X {{item.factoruser}}
    </div>
    <div class="col-3">
      СУ: {{su}}
    </div>
  </div>
</div>

<div class="row py-1 my-1">
  <div *ngIf="sec < 10" class="btn big py-4 bg" style="text-align: center; width: 100%"
       [class.bg-danger]=bg[2] [class.bg-success]=bg[1]
       (click)="onOffTimer()">{{min}} : 0{{sec}}</div>
  <div *ngIf="sec >= 10" class="btn big py-4 bg" style="text-align: center; width: 100%"
       [class.bg-danger]=bg[2] [class.bg-success]=bg[1]
       (click)="onOffTimer()">{{min}} : {{sec}}</div>
</div>

<div class="row" *ngFor="let item of nameGamesOpis; let i = index">
  <div class="my-2" *ngIf="item.shtrafid != 7" style="width: 100%">
    <div class="col-11 py-2 px-0 btn bg big text-dark btn-r"
            style="text-align: center"
            (click)="increment(i)">{{item.shtrafname}} <span class="badge badge-danger">{{item.ball}}</span>
            <span style="font-size: large"> ({{item.shtrafball}})</span>
    </div>
    <div *ngIf="nameGamesOpis[i].ball > 0" class="col-1 py-2 px-0 btn bg big btn-l"
         style="text-align: center" (click)="decrement(i)">-
    </div>
    <div *ngIf="nameGamesOpis[i].ball == 0" class="col-1 py-2 px-0 btn bg big btn-l"
         style="text-align: center">:)
    </div>
  </div>
</div>

<div class="row py-1 my-1">
  <div class="col-2 btn bg py-2" [routerLink]="['/su1', game]"><img src="../../../assets/close.png"/></div>
  <div class="col-10">
    <button [disabled]="bg[1] || allSec == 0" class="btn big bg" style="text-align: center; width: 100%"
            (click)="saveEtap()" [routerLink]="['/su1', game]">Записать
    </button>
  </div>
</div>

</body>
