<div [hidden]="!popupVisible">
  <div class="row">
    <div class="col-2 my-2" [routerLink]="['/org']">
      <img class="border bg p-2" src="../../../assets/close.png"/>
    </div>
    <div class="col-10 my-2">
      <select class="border big p-2" [(ngModel)]="name"
              (change)="getSelectNameGames()" name="game" id="1">
        <option value="0">Выберите соревнование</option>
        <option *ngFor="let item of gamesName" value="{{item.namegames}}">{{item.namegames}}</option>
      </select>
    </div>
  </div>

  <table style="width: 100%" class="big14">
    <thead>
    <tr style="border-bottom: solid 2px black">
      <th>№</th>
      <th>Номер</th>
      <th class="p-2">ФИО</th>
      <th>Баллы</th>
      <th>Время</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of etap; let i = index" [class.light]="item.summa>10000"
        (click)="allInfo(etap[i].gameid, etap[i].userid)">
      <td>{{i + 1}}</td>
      <td>{{item.nomeruser}}</td>
      <td class="p-2">{{item.username}}</td>
      <td>{{item.summa}}</td>
      <td>{{item.timeuser}}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngFor="let item of userEtapStata; index as i" [hidden]="popupVisible">
  <div class="row" *ngIf="i==0">
    <div class="col-10  py-2 big">{{item.nameetap}}</div>
    <div class="col-2" (click)="popupVisible = true"><img class=" border p-2 bg" src="../../../assets/close.png"/></div>
  </div>
  <span class="row px-4 py-2 big16" *ngIf="i==0">{{item.nameuser}}</span>
  <span class="row big14">
      <span class="col-2">СУ {{item.nomersu}}</span>
      <span class="col-8">{{item.nameshtraf}}</span>
      <span class="col-2">{{item.sum}}</span>
    </span>
</div>

