<body>
<nav class="navbar-expand bg border m-2">
  <div class="navbar-collapse big16">
    <div [routerLink]="['']" style="width: 33%; text-align: center">Главная</div>
    <div class="nav-item dropdown" style="width: 33%; text-align: center">
      <div class="p-3" data-toggle="dropdown" aria-haspopup="true">Результаты</div>
      <div class="dropdown-menu border" style="width: 100%">
        <div class="dropdown-item py-3" href="#" [routerLink]="['org2']">Результаты</div>
        <div class="dropdown-item py-3" href="#" [routerLink]="['ratingNN']">Рейтинг НН</div>
        <div class="dropdown-item py-3" href="#" [routerLink]="['ratingGlobal']">Рейтинг глоб.</div>
      </div>
    </div>
    <div [routerLink]="['password']" style="width: 33%; text-align: center">Ивент</div>
  </div>
</nav>
<router-outlet></router-outlet>
</body>
