<div style="width: 100%">

  <!-- Выборб добавление и настройка вида соревнования -->

  <div *ngIf="visibleUser == 1">
    <span>Выберите или добавте соревнование</span>
    <div class="row" style="width: 99%">
      <div class="col-11 btn">
        <select *ngIf="visibleNameGames != 0" class="btn custom-select big" [(ngModel)]="gamesName"
                (change)="getSelectNameGames()" name="game" id="1">
          <option value="0">Выберите соревнование</option>
          <option *ngFor="let item of games" value="{{item.namegames}}">{{item.namegames}}</option>
        </select>
        <input *ngIf="visibleNameGames == 0" type="text" class="form-control big"
               placeholder="Введите название нового соревнования" [(ngModel)]="gamesName">
      </div>
      <div *ngIf="addEditNameGames == 0 && visibleNameGames == 1" class="col-1 btn">
        <img class="p-2 btn bg" src="../../../assets/plus.png" (click)="setAddGames()">
      </div>
      <div *ngIf="addEditNameGames == 1 && visibleNameGames == 1" class="col-1 btn">
        <img class="p-2 btn bg" src="../../../assets/pen_1.png"
             (click)="visibleNameGames = 0; addEditNameGames = 1;">
      </div>
    </div>
    <div *ngIf="visibleNameGames == 0">
      <span>Выберите количество спец участков</span>
      <div class="form-check form-check-inline m-2" style="width: 100%">
      <span *ngFor="let item of [1,2,3,4,5]" class="btn p-2 big" style="width: 20%; text-align: center"
            [class.badge-warning]="getSelectSu(item)"
            (click)="su = item">{{item}}</span>
      </div>
      <span>Выберите варианты пенализации</span>
      <div *ngFor="let item of shtrafBall" class="row my-4" [class.bg-warning]="ball[item.id-1]"
           (click)="getSelectBall(item.id - 1)">
        <div class="col-1">{{item.id}}</div>
        <div class="col-9">{{item.shtrafname}}</div>
        <div class="col-2">{{item.shtrafball}}</div>
      </div>
      <div class="row">
        <div *ngIf="addEditNameGames == 0 && visibleNameGames == 0" class="col-6 btn bg">
          <img class="py-1 mx-1" src="../../../assets/diskette.png" (click)="setAddSaveGames()">
        </div>
        <div *ngIf="addEditNameGames == 1 && visibleNameGames == 0" class="col-6 btn bg">
          <img class="py-1 mx-1" src="../../../assets/diskette.png" (click)="setEditSaveGames()">
        </div>
        <div *ngIf="visibleNameGames == 0" class="col-6 btn bg">
          <img class="py-1 mx-1" src="../../../assets/close.png"
               (click)="visibleNameGames = 1">
        </div>
      </div>
    </div>
  </div>

  <!-- Выбор, добавление и настройка участника соревнования-->

  <div *ngIf="visibleNameGames == 1 && gamesName != '0'">
    <span *ngIf="userRegistred == 0">Выберите или добавте участника</span>
    <span *ngIf="userRegistred == 1" class="text-danger">Пользователь уже зарегестрирован</span>
    <span *ngIf="userRegistred == 2" class="text-danger">Нет такого пользователя</span>
    <span *ngIf="userRegistred == 3" class="text-danger">Это Имя или Номер уже используются</span>
    <div class="row" style="width: 99%">
      <div class="btn col-11">
        <select *ngIf="visibleUser != 0" class="btn custom-select big" [(ngModel)]="userName" id="2"
                (change)="getSelectUser()">
          <option value="0">Выберите участника</option>
          <option *ngFor="let item of users" value="{{item.username}}">{{item.username}}</option>
        </select>
        <input *ngIf="visibleUser == 0" type="text" class="form-control big" placeholder="Введите ФИ участника"
               [(ngModel)]="userName">
      </div>
      <div *ngIf="addEditUser == 0 && visibleUser == 1" class="btn col-1">
        <img class="p-2 btn bg" src="../../../assets/plus.png" (click)="setAddUser()">
      </div>
      <div *ngIf="addEditUser == 1 && visibleUser == 1" class="btn col-1">
        <img class="p-2 btn bg" src="../../../assets/pen_1.png" (click)="addEditUser = 1; visibleUser = 0">
      </div>
    </div>
    <span *ngIf="visibleUser == 0">Введите номер и выберите коэффицент</span>
    <div class="form-check form-check-inline my-2" style="width: 100%">
      <input type="text" class="form-control big" style="width: 65px; text-align: center" [(ngModel)]="userNumber"
             (change)="getSelectNumber(userNumber)">
      <span *ngFor="let item of [1,2,6]" class="btn p-2 big" style="width: 33%; text-align: center"
            [class.bg]="getSelectFactor(item)"
            (click)="factor = item">X {{item}}</span>
    </div>
    <div class="row">
      <button *ngIf="addEditUser == 0 && visibleUser == 0" class="col-6 btn bg"
              [disabled]="!userName || !userNumber || factor == 0">
        <img class="py-1 mx-1" src="../../../assets/diskette.png" (click)="setAddSaveUser()">
      </button>
      <div *ngIf="addEditUser == 1 && visibleUser == 0" class="col-6 btn bg">
        <img class="py-1 mx-1" src="../../../assets/diskette.png" (click)="setEditSaveUser()">
      </div>
      <div *ngIf="visibleUser == 0" class="col-6 btn bg">
        <img class="py-1 mx-1" src="../../../assets/close.png"
             (click)="visibleUser = 1">
      </div>
    </div>
  </div>
  <div class="row" *ngIf="visibleNameGames == 1 && visibleUser == 1">
    <div class="col-2 btn bg my-4 py-2" [routerLink]="['/org']"><img src="../../../assets/close.png"/></div>
    <div class="col-10" >
      <button class="btn bg big my-4" style="width: 100%"
              [disabled]="(!userName || userRegistred == 1) || !gamesName "
              (click)="saveEtap()">Записать</button>
    </div>
  </div>
</div>
