<div style="display: flex; flex-wrap: wrap; justify-content: space-around; align-items: center">
  <div *ngIf="visible" style="position: fixed; display: flex; top: 0px; z-index: 6; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.4)">
    <img *ngIf="height < width" src="{{bigFoto}}" (click)="visible = false" style="margin: auto" class="border" height="{{height}}">
    <img *ngIf="height > width" src="{{bigFoto}}" (click)="visible = false" style="margin: auto" class="border" width="{{width}}">
  </div>
  <div *ngFor="let item of photosVk, let i = index">
    <div *ngIf="item.copy_history == null"  class="border p-2 m-2 news_lenta">
      <div class="pl-2 pr-2 big" [innerHTML]="item.text" style="width: 100%"></div>
      <a class="big14" *ngIf="item.attachments[0].type == 'video'" target="_blank" title="Посмотреть"
         href="https://vk.com/video{{item.owner_id}}_{{item.attachments[0].video.id}}">
        <img *ngIf="item.attachments[0].type == 'video'" src={{item.attachments[0].video.photo_800}} width="100%">
      </a>
      <a class="big14" *ngIf="item.attachments[0].type == 'link'" target="_blank" title="Посмотреть"
         href={{item.attachments[0].link.url}}>
        <img *ngIf="item.attachments[0].type == 'link'" src={{item.attachments[0].link.photo.sizes[0].url}} width="100%">
      </a>
      <img *ngIf="item.attachments[0].type == 'photo'" (click)="loadBigFoto(i)" src={{item.attachments[0].photo.sizes[4].url}} width="100%">
    </div>
  </div>
</div>
